.leftside {
    display: flex;
    flex-direction: column;
    float:left;
    margin-left:80px;
    margin-top:20px;
    background-color: #212529;
    border-radius: 20px;
}

.form {
    background-color: #212529;
    border-radius: 20px;
    padding:10px;
}

.rightside {
    display: flex;
    flex-direction: column;
    float:right;
    gap:30px;
    justify-content: space-evenly;
    margin-right:80px;
    margin-top:20px;
    align-items: center;
    background-color: #212529;
    border-radius: 20px;
}

.loadoutDisplays {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}

h2 {
    color: white;
    text-shadow: 1px 1px 1px gray;
}

td, th {
    padding-left: 10px;
    padding-right:10px;
    color: white;
}

label {
    color: white;
}