.leftside {
    display: flex;
    flex-direction: column;
    float:left;
    margin-left:80px;
    margin-top:20px;
}

.form {
    background-color: darkgray;
    border-radius: 20px;
    border:2px solid black;
    padding:10px;
}

.rightside {
    display: flex;
    flex-direction: column;
    float:right;
    gap:30px;
    justify-content: space-evenly;
    margin-right:80px;
    margin-top:20px;
    align-items: center;
    background-color: darkgray;
    border-radius: 20px;
    border:2px solid black;
}

.loadoutDisplays {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}

h2 {
    color: gray;
    text-shadow: 1px 1px 1px black;
}

td, th {
    padding-left: 10px;
    padding-right:10px;
}